NEXT_PUBLIC_BACKEND_URL=https://napped-algorithm-theft.ngrok-free.dev

NEXT_PUBLIC_AUTH_COOKIE_NAME=findoctor_auth
NEXT_PUBLIC_AUTH_USER_KEY=findoctor_auth_user
NEXT_PUBLIC_AUTH_SESSION_KEY=findoctor_auth_session
NEXT_PUBLIC_AUTH_SESSION_MAX_AGE_SECONDS=604800
