NEXT_PUBLIC_API_URL=http://localhost:8001
NEXT_PUBLIC_DEFAULT_LOCALE=ru
NEXT_PUBLIC_DEFAULT_CURRENCY=RUB
NEXT_PUBLIC_DEFAULT_TIMEZONE=Europe/Moscow
NEXT_PUBLIC_DEFAULT_COUNTRY=RU
NEXT_PUBLIC_ACCESS_TOKEN_KEY=access_token
NEXT_PUBLIC_REFRESH_TOKEN_KEY=refresh_token
