use_default_settings: true

general:
  debug: false
  instance_name: "FinDoctor SearXNG"
  privacypolicy_url: false
  contact_url: false
  enable_metrics: false

search:
  safe_search: 0
  autocomplete: ""
  default_lang: ""
  formats:
    - html
    - json

server:
  bind_address: "0.0.0.0"
  port: 8080
  secret_key: "__SEARXNG_SECRET_KEY__"
  limiter: false
  image_proxy: false
  method: "POST"

ui:
  static_use_hash: true
  default_theme: simple

outgoing:
  request_timeout: __SEARXNG_REQUEST_TIMEOUT__
  max_request_timeout: 20.0
  pool_connections: 100
  pool_maxsize: 20

